{% extends "base.html" %}

{% load i18n %}

{% block content %}

<!--Welcome section-->
<section class="section-margin">
<div class="container">
  <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
          <h3>{% trans "Sign In" %}</h3>

          <p class="fs-5 lh-base mt-3">{% blocktrans %}Welcome back to the code|star blog. To leave a comment or like a post, please log in. If
              you
              have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
              first.{% endblocktrans %}</p>
      </div>
  </div>
</section>
<!--End of welcome section-->

<!--Login form-->
<section class="section-margin">
<div class="container">
  <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
          <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button class="btn btn-outline-primary" type="submit">{% trans "Sign In" %}</button>
          </form>
      </div>
  </div>
</div>
</div>
</section>
<!--End of login form section-->
{% endblock %}
