@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root{
    --main_color: hsl(354.98, 88.65%, 55.1%);
    --second_color: hsl(220, 60%, 15.69%);
    --third_color:hsl(215.75, 98.36%, 52.16%);
    --font_color: hsl(230.53, 33.33%, 11.18%);
    --bg_color: hsl(0, 0%, 94.9%);
    --backup_color: hsl(190.04, 89.72%, 49.61%);
}

* {
    transition: all ease 0.3s;
    text-decoration: none !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
hr{
    height: 1px;
    border:none;
    margin: 0px;
    width: 100%;
    background: linear-gradient(100deg, var(--main_color), var(--second_color), var(--font_color));
}

/* #region Headers */
h1{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--second_color);
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.3;
    color: var(--main_color);
}
h3{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
    color: var(--third_color);
}
h4{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    color:var(--backup_color) ;
}

/* #endregion */

/* #region Base HTML Rules */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
html{
    scroll-behavior:smooth;
}
main{
    flex: 1 0 auto;
}
.section-margin{
    margin-top: 35px;
    margin-bottom: 20px;
}
.content-inner {
    padding-top: 50px;
    padding-bottom: 20px; 
}
/* #endregion */

/* #region Navbar */
.logo{
    width:180px;
}
a#searchButton{
    color:var(--third_color);
}
.nav-item a {
    font-weight: 550;
}
.menu-icon a{
 color: var(--main_color);
}


/* #endregion */

/* #region Slider */
div.slider-bg{
    background-color: hsla(0, 0%, 94.9%, .3);
}
.slider-title{
    color:#cc0000;
    text-transform: uppercase;
    font-size: .7rem;
}
.slider-bg p{
    color:#0d6efd;
    font-weight: 500;
    font-size:.5rem;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #cc0000;
}
/* #endregion Slider */

/* #region News */
div.card{
    margin-top:15px;
}
/* #endregion News */



/* #region Footer */

#footer {
    position: relative;
    width: 100%;
    z-index: 1000;
}

#footer img {
    width: 85%;
}

#footer .footer-text {
    margin-top: 40px;
    padding-top: 10px;
    width: 80%;
    /* font-size: clamp(0.8rem, 2vw, 0.9rem); */
}

#footer .footer-slogan {
    font-size: 1.3rem;
    color:var(--h3-color);
}

#footer hr {
    
    height: 3px;
    z-index: 1000;
}

.grid-container-element-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
}

.grid-child-element {
    margin: 10px;
}
.social-media {
    text-align: right;
    font-size: 2rem;
}

/* #endregion Footer */



div#div_id_image > div.input-group.mb-2{display: none;}