/* Google Fonts - Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root{
    --h1-color: #102040;
    --h2-color: #f22738;
    --h3-color: #cc0000;
}

* {
    transition: all ease 0.3s;
    text-decoration: none !important;
}

body{
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}

html{
    scroll-behavior:smooth;
}

h1{
    font-size: 1rem;
    color: var(--h1-color);
}



.nav-item a {
    font-weight: bold;
    font-size:.9rem;
}

a.navbar-brand img{
    width:180px;
    height: auto;
}

/* #region Slider */
#slider-container {
    padding: 0;
    height: 500px;
}

.carousel-item img {
    max-width: 100%;
    height: 500px;
    object-fit: cover; /* Resmi orantılı şekilde dolduracak */
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    padding: 20px;
    background-color: #cc0000;
}
/* #endregion Slider */


.content-inner {
    padding-top: 50px;
    padding-bottom: 20px; 
}


footer{
    border: 3px solid #102040;
}


/* #region Large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    
}
/* #endregion */

/* #region Tablets and larger (768px and up) Ipad air and above */
@media screen and (min-width: 768px) {

}
/* #endregion */

/* #region Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

}
/* #endregion */

/* #region Largest screens */
@media screen and (min-width: 1200px) {
    a.navbar-brand img{
        width:60%;
        height: auto;
    }
}
/* #endregion */