@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root{
    --main_color: hsl(354.98, 88.65%, 55.1%);
    --second_color: hsl(220, 60%, 15.69%);
    --third_color:hsl(215.75, 98.36%, 52.16%);
    --font_color: hsl(230.53, 33.33%, 11.18%);
    --bg_color: hsl(0, 0%, 94.9%);
    --backup_color: hsl(190.04, 89.72%, 49.61%);
}
.section-margin{
    margin-top: 35px;
    margin-bottom: 20px;
}
.content-inner {
    padding-top: 50px;
    padding-bottom: 20px; 
}
/* #region Headers */
h1{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--second_color);
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.3;
    color: var(--main_color);
}
h3{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
    color: var(--third_color);
}
h4{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    color:var(--backup_color) ;
}
p{
    font-size: 1rem;
    color: var(--font_color);
}
/* #endregion */
/* #region Base HTML Rules */
* {
    transition: all ease 0.3s;
    text-decoration: none !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
hr{
    height: 1px;
    border:none;
    margin: 0px;
    width: 100%;
    background: linear-gradient(80deg, var(--main_color), var(--second_color), var(--font_color));
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
html{
    scroll-behavior:smooth;
}
main{
    flex: 1 0 auto;
}

/* #endregion */
/* #region Navbar */
.logo{
    width:180px;
}
a#searchButton{
    color:var(--third_color);
}
.nav-item a {
    font-weight: 550;
}
.menu-icon a{
 color: var(--main_color);
}
/* #endregion */
/* #region General Features */
ul.navbar-nav a:hover{color:red;}
a#searchButton:hover{
color:var(--font_color);
}
blockquote{
    color:hsl(215.75, 98.36%, 52.16%);
    padding: 10px;  
}
div.hero-container{
    position: relative; 
    width:100%;
    height: 25vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://res.cloudinary.com/dpg6ubeyo/image/upload/v1710930207/hero_xzkkwi.jpg);
}
div.hero-title > p.here{
    position: absolute; 
    top: 20px;
    left: 5px;
    color: white;
    background-color: hsla(215.75, 98.36%, 52.16%, .4);
    padding: 10px;
}
.vehicle-detail{
    border: 3px solid #ccc;
    border-radius: 5px;
}
/* #endregion */
/* #region Slider */
.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #cc0000;
}
/* #endregion Slider */
/* #region Footer */
#footer {
    position: relative;
    width: 100%;
    z-index: 1000;
}
#footer-logo {
    margin-top: 25px;
    width: 90%;
}
.footer-abouts{
    font-size: .8rem;
}
div#footer-vertical-line{
    display: none;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top:20px;   
}
.footer-slogan {
    margin: 20px 0px;
    color:var(--main_color);
}
div#contact-type > ul{
    list-style: none;
    margin-left: -45px;
}
div#contact-type > ul > li{
    margin:25px;
}
/* #endregion Footer */

div#div_id_image > div.input-group.mb-2{display: none;}