{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% include 'html_parts/hero.html' %}
<!--Section create experience-->
<section class="section-margin">
   <div class="container">
      <h3>Create Experience</h3>
      <div class="row mt-5">
         <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Submit</button>
         </form>
      </div>
   </div>
</section>
<!--End of create experience-->
{% endblock %}