{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'html_parts/hero.html' %}

<!--section update experience-->
<section class="section-margin">
    <div class="row">
        <div class="container">
            <div class="justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-block btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end of update experiences section-->
{% endblock %}