{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'html_parts/hero.html' %}
<!--About section-->
<section class="section-margin">
<div class="container">
   <h2>About Roadster Expert</h2>
   <p class="lead content-inner">Fueling the Passion for Roadsters, Inspiring Innovation, and Driving Towards a Future of Excellence</p>
   <hr class="my-4">
   <p class="fs-5 lh-base mt-3">
      Roadster Expert Club is a distinguished automobile club founded in 2000. Its members are comprised of select individuals who are 
      deeply passionate about roadster-style cars and have contributed significant ideas to the automotive sector. Our club boasts a diverse 
      membership base, including employees from leading automotive manufacturers such as Rolls Royce, BMW, and Aston Martin.
   </p>
   <h2>History</h2>
   <p class="fs-5 lh-base mt-3">
      The Roadster Expert club symbolizes the invention of key features of roadster-type vehicles. 
      Over the years, our club has attained a respected position by offering innovative ideas and 
      designs that shape the automotive industry. 
   </p>
   <blockquote class="blockquote text-center">
      To predict the future, create it. - Alan Kay
   </blockquote>
   <p class="fs-5 lh-base mt-3">
      Our members are leaders in innovative thinking and engineering, sharing a passion and drive 
      to leave a mark in the automotive world.
   </p>
   <h2>Mission</h2>
   <p class="fs-5 lh-base mt-3">
      Roadster Expert Club was founded with the aim of preserving the passion for roadster-style cars and passing 
      it on to future generations. Our mission is to bring together car enthusiasts, foster creative thinking, 
      and spearhead projects that transform the automotive industry. Our members are not only passionate drivers, 
      but also possess advanced knowledge and experience in automotive design, technology, and sustainability.
   </p>
   <blockquote class="blockquote text-center">
      Traveling is half the journey of reaching your destination. - Lewis Carroll
   </blockquote>
   <p class="fs-5 lh-base mt-3">
      Roadster Expert Club strives to be a pioneer by showcasing engineering talents, developing creative projects, 
      and shaping the future of the automotive industry. In pursuit of this mission, we aim to cultivate a culture 
      of excellence and provide a nurturing environment where our members, who share a passion for automobiles, feel 
      like part of a family.
   </p>
</div>
</section>
<!--End of about section-->
{% endblock %}