{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'html_parts/hero.html' %}

<div class="spacer">
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4" style="font-size: 3.5rem;font-weight: 600;">About Roadster Expert</h1>
    <p class="lead">Fueling the Passion for Roadsters, Inspiring Innovation, and Driving Towards a Future of Excellence</p>
    <hr class="my-4">
    <p>
        Roadster Expert Club is a distinguished automobile club founded in 2000. Its members are comprised of select individuals who are deeply passionate about roadster-style cars and have contributed significant ideas to the automotive sector. Our club boasts a diverse membership base, including employees from leading automotive manufacturers such as Rolls Royce, BMW, and Aston Martin.
    </p>
    <h4>History</h4>
    <p>
        The Roadster Expert club symbolizes the invention of key features of roadster-type vehicles. 
        Over the years, our club has attained a respected position by offering innovative ideas and 
        designs that shape the automotive industry. 
        <blockquote class="blockquote text-center" style="color:#c00;padding: 10px;">To predict the future, create it. - Alan Kay</blockquote>
        Our members are leaders in innovative thinking and engineering, sharing a passion and drive to leave a mark in the automotive world.
    </p>
    <h4 >Mission</h4>
    <p>
        Roadster Expert Club was founded with the aim of preserving the passion for roadster-style cars and passing 
        it on to future generations. Our mission is to bring together car enthusiasts, foster creative thinking, 
        and spearhead projects that transform the automotive industry. Our members are not only passionate drivers, 
        but also possess advanced knowledge and experience in automotive design, technology, and sustainability. 
        <blockquote class="blockquote text-center" style="color:#c00;padding: 10px;">Traveling is half the journey of 
            reaching your destination. - Lewis Carroll        </blockquote>
        Roadster Expert Club strives to be a pioneer by showcasing engineering talents, developing creative projects, 
        and shaping the future of the automotive industry. In pursuit of this mission, we aim to cultivate a culture 
        of excellence and provide a nurturing environment where our members, who share a passion for automobiles, feel 
        like part of a family.
    </p>
  </div>
</div>
</div>
{% endblock %}