{% extends "base.html" %}


{% block content %}

<div class="hero-section">
  <div class="d-flex justify-content-between">
    <div class="" style="position: absolute; transform: translate(100%, 100%);">
      <h3>You are here: {{page_name}}</h3>
    </div>
  <div
      style=" margin: auto; padding: auto;
        background-image: url(https://res.cloudinary.com/dpg6ubeyo/image/upload/v1710930207/hero_xzkkwi.jpg);
        height: 25vh; width:100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      ">
  </div>
</div>

<div class="container">
  <div class="row">
    {% for vehicle in vehicles %}
      <div class="col-12 col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="{{ vehicle.featured_image.url }}" class="card-img-top" alt="{{ vehicle.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ vehicle.title }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{% url 'vehicle_detail' slug=vehicle.slug %}" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="card-footer">
            <i class="fa-solid fa-certificate"></i> {{vehicle.cc}} cc | <i class="fa-solid fa-certificate"></i> {{vehicle.motor_type}} | <i class="fa-solid fa-certificate"></i> {{vehicle.hp}} hp
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>




{% endblock %}