{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'html_parts/hero.html' %}

<!-- Contact section -->
<section class="section-margin">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
            <h4>Certainly, you can reach us through the following channels:</h4>
            <div id="contact-type">
              <ul>
              <li><i class="fas fa-phone"></i> <a href="tel:123" target="_blank" aria-label="Call Us" rel="noopener"> +49 275 999 99</a></li>
              <li><i class="far fa-envelope"></i> <a href="mailto:demo@demo.com" target="_blank" aria-label="Write Us" rel="noopener"> info@rodsterexpert.com</a></li>
              <li><i class="fas fa-home"></i> <a href="https://maps.app.goo.gl/TdsbBm52p7a5DgFPA" target="_blank" aria-label="Visit Us" rel="noopener">Mercedes Str. 1, Stutgart</a></li>
              <li>Feel free to contact us anytime for assistance or inquiries. We're here to help!</li>
            </ul>
          </div>     
            <p id="email-result"></p>
          </div>
        <div class="col-md-8">
          <!-- contact form -->
          <form
            action="{% url 'contact' %}"
            onsubmit="return sendMail(this);"
            class="row g-3"
          >
            {% csrf_token %}
            <div class="col-md-6">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                required
              />
            </div>
            <div class="col-md-6">
              <label for="surname" class="form-label">Surname</label>
              <input
                type="text"
                class="form-control"
                id="surname"
                name="surname"
                required
              />
            </div>
            <div class="col-md-6">
              <label for="subject" class="form-label">Subject</label>
              <input
                type="text"
                class="form-control"
                id="subject"
                name="subject"
              />
            </div>
            <div class="col-md-6">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" />
            </div>
            <div class="col-md-12">
              <label for="message" class="form-label">Message</label>
              <textarea
                class="form-control"
                id="message"
                rows="5"
                name="message"
                cols="40"
                required
              ></textarea>
            </div>
            <div class="col-12" style="display: flex; justify-content: left; align-items: left; height: 100%;">
                <button type="submit" class="btn btn-primary" style="width: 100px; height: 40px;">Send</button>
            </div>
          </form>
          <!-- end of contact form -->
        </div>
      </div>
    </div>
</section>
<!-- End of contact section -->

{% endblock %}