{% load static %}
<!-- Footer section-->
<footer id="footer" class="section-margin">
   <hr>
   <div class="container-fluid">
      <div class="row" style="background-color: aliceblue;">
         <!--Logo Area-->
         <div class="col-md-6">
            <div class="col-md-12">
               <a href="/">
               <img id="footer-logo" src="https://res.cloudinary.com/dpg6ubeyo/image/upload/v1710860588/roadster_logo_azkxq2.png" alt="Roadster Expert"></a>
            </div>
            <div class="col-md-12">
               <p class="lh-base mt-3 footer-abouts" >
                  Join the Roadster Club, where excitement awaits! Meet incredible car enthusiasts, share unique experiences, and sail into unforgettable memories. We're waiting for you to join us! Take the plunge into adventure!
               </p>
            </div>
         </div>
         <!--End of Logo area-->
         <!--Links Area-->
         <div class="col-md-2 pt-3">
            <h3 class="footer-slogan">Links</h3>
            <div id="footer-links">
               <ul>
                  <li><a href="/" target="_self" aria-label="Our Home page">Home</a></li>
                  <li><a href="{% url 'categories' %}" target="_self" aria-label="Our Categories">Categories</a></li>
                  <li><a href="{% url 'about'%}" target="_self" aria-label="About Us">About Us</a></li>
                  <li><a href="{% url 'contact'%}" target="_self" aria-label="Our Contact Page">Contact</a></li>
                  <li><a href="{% url 'account_signup' %}" target="_self" aria-label="Signup Page">Signup</a></li>
                  <li><a href="{% url 'account_login' %}" target="_self" aria-label="Login Page">Login</a></li>
               </ul>
            </div>
         </div>
         <!--End of Links area-->
         <!--Mini Contact Are-->
         <div class="col-md-4 pt-3">
            <h3 class="footer-slogan">We're just a click away!</h3>
            <div id="footer-contact-type">
               <ul>
                  <li><i class="fas fa-phone"></i> <a href="tel:123" target="_blank" aria-label="Call Us" rel="noopener"> +49 275 999 99</a></li>
                  <li><i class="far fa-envelope"></i> <a href="mailto:demo@demo.com" target="_blank" aria-label="Write Us" rel="noopener"> info@rodsterexpert.com</a></li>
                  <li><i class="fas fa-home"></i> <a href="https://maps.app.goo.gl/TdsbBm52p7a5DgFPA" target="_blank" aria-label="Visit Us" rel="noopener">Mercedes Str. 1, Stutgart</a></li>
               </ul>
            </div>
         </div>
         <!--End of Mini contact area-->
      </div>
   </div>
   <hr>
   <!--Social Links-->
   <div class="container">
      <div class="row">
         <div class="footer-container">
            <div class="col">
               <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Go to the facebook Roadster Expert page">
               <i class="fab fa-facebook-f fa-2x"></i></a>
            </div>
            <div class="col">
               <a href="https://www.tiktok.com/" target="_blank" style="color: black;" rel="noopener" aria-label="Go to the twitter Roadster Expert page">
               <i class="fab fa-tiktok fa-2x"></i></a> 
            </div>
            <div class="col">
               <a href="https://www.instagram.com/" target="_blank" style="color: purple;" rel="noopener" aria-label="Go to the instgram Roadster Expert page">
               <i class="fab fa-instagram fa-2x"></i></a>
            </div>
         </div>
      </div>
   </div>
   <!--End of Social links-->
</footer>
<!-- End of footer -->