{% load static %}
<!-- Footer section-->
  <footer id="footer" class="section-margin">
    <hr>
  <div class="container-fluid">
    <div class="row" style="background-color: aliceblue;">
      <div class="col-md-8">
         <div>
            <a href="/"><img class="logo" src="https://res.cloudinary.com/dpg6ubeyo/image/upload/v1710860588/roadster_logo_azkxq2.png" alt="Roadster Expert"></a>
          </div>
          <p class="footer-text">
            Join the Roadster Club, where excitement awaits! Meet incredible car enthusiasts, share unique experiences, and sail into unforgettable memories. We're waiting for you to join us! Take the plunge into adventure!
          </p>
      </div>
      <div class="col-md-4">
        <h4 class="footer-slogan">"We're just a click away!"</h4>
        <br>
        <div id="contact-type">
          <p><i class="fas fa-phone"></i><a href="tel:123" target="_blank" aria-label="Call Us" rel="noopener"> +49 275 999 99</a></p>
          <p><i class="far fa-envelope"></i><a href="mailto:demo@demo.com" target="_blank" aria-label="Write Us" rel="noopener"> info@roadsterexpert.com</a></p>
          <p><i class="fas fa-home"></i><a href="https://maps.app.goo.gl/TdsbBm52p7a5DgFPA" target="_blank" aria-label="Visit Us" rel="noopener">Mercedes Strasse 1, Stuttgart</a></p>
      </div>
      </div>
    </div>
  </div>
  <hr>
    <div class="grid-container-element-footer">
      <div id="social-links" class="col-12 social-media grid-child-element-footer">
        <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Go to the facebook Roadster Expert page">
          <i class="fab fa-facebook-f"></i></a>
        <a href="https://www.tiktok.com/" target="_blank" rel="noopener" aria-label="Go to the twitter Roadster Expert page">
          <i class="fab fa-tiktok"></i></a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Go to the instgram Roadster Expert page">
          <i class="fab fa-instagram"></i></a>
      </div>
    </div>
  
  </footer>
<!-- End of footer -->