{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!--Charset -->
      <meta charset="UTF-8">
      <!--Mobility-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--Page Title for SEO-->
      <title>Roadster Expert</title>
      <!--Meta description for SEO result-->
      <meta name="description" content="Zoom towards the freedom of the road! Push boundaries
         with our exhilarating roadster cars equipped with the latest technology. You're at the 
         right place to find a roadster car that suits your style. Explore now!">
      <!--Meta Keywords for SEO search criteria-->
      <meta name="keywords" content="Roadster, Car, Sports Car, Speed, Freedom, Journey, 
         Excitement, Design, Performance, Luxury, Technology, Driving Experience, Automobile,
         Power, Ferrari, Lamboarghini, Jaguar, Mercedes, Audi, Bentley, Mazda, BMW">
      <!--Favicon-->
      <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dpg6ubeyo/image/upload/v1711463774/roadster-favicon_lbnbfz.png">
      <!--Bootstrap-->
      <link rel="stylesheet" href="https://res.cloudinary.com/dpg6ubeyo/raw/upload/v1711464021/static/bootstrap/css/bootstrap.min.css">
      <!--My style file-->
      <link rel="stylesheet" href="https://res.cloudinary.com/dpg6ubeyo/raw/upload/v1711895156/roadster_style_wghdpm.css">
      <!--Fontawesome-->
      <script src="https://kit.fontawesome.com/60bc75d45e.js" crossorigin="anonymous"></script>
      <!--Popper js-->
      <script src="https://unpkg.com/@popperjs/core@2"></script>
      <!-- Email Js-->
      <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
      <script>
         (function(){
             emailjs.init("h7hBGR2LNwO8kQUl3");
         })();
      </script>
   </head>
   <body>