{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Menü Area -->
    <a class="navbar-brand" href="/">
      <img src="https://res.cloudinary.com/dpg6ubeyo/image/upload/v1710860588/roadster_logo_azkxq2.png" alt="Roadster Expert logo" class="d-inline-block align-text-top">
    </a>
    
    <!-- Navbar Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Menu Area -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" style="font-size: 1.2rem;">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="font-size: 1.2rem;" href="#" id="category-menu" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
            Vehicles
          </a>
          <ul class="dropdown-menu" aria-labelledby="category-menu">
            <li>
              <a class="dropdown-item" href="{% url 'categories' %}" style="color:red; font-size: 1.2rem;">All Categories</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% for category in categories %}
              <li>
                <a class="dropdown-item" href="{% url 'category_vehicles' cat_name=category.title %}" style="font-size: 1.2rem;">{{ category.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about'%}" style="font-size: 1.2rem;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact'%}" style="font-size: 1.2rem;">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="searchButton" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="font-size: 1.2rem; color: #281aef;">Search</a>
        </li>
      </ul>

      <div class="d-flex">
        <ul class="navbar-nav flex-row">
          {% if user.is_authenticated %}
          <div class="vr" id="menuSeperator" style="margin: 0px 5px;"></div>
          <li class="nav-item text-center">
            <a class="nav-link" href="{% url 'my-profile' %}"> <i class="fa-regular fa-address-card" style="font-size: 1.2rem;color: #cc0000;"></i> <br>My Profile</a>
          </li>
          <div class="vr" id="menuSeperator" style="margin: 0px 5px;"></div>
          <li class="nav-item text-center">
            <a class="nav-link" href="{% url 'account_logout' %}"> <i class="fa-solid fa-right-from-bracket" style="font-size: 1.2rem;color: #cc0000;"></i><br>Logout</a>
          </li>
          {% else %}
          <div class="vr" id="menuSeperator" style="margin: 0px 5px;"></div>
          <li class="nav-item text-center">
            <a class="nav-link" href="{% url 'account_signup' %}"> <i class="fa-solid fa-user-plus" style="font-size: 1.2rem; color: #cc0000;"></i><br>Signup</a>
          </li>
          <div class="vr" id="menuSeperator" style="margin: 0px 5px;"></div>
          <li class="nav-item text-center">
            <a class="nav-link" href="{% url 'account_login' %}"> <i class="fa-solid fa-right-to-bracket" style="font-size: 1.2rem; color: #cc0000;"></i><br>Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>

<!--Messages-->
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      {% for message in messages %}
      <div class="alert {{message.tags}} alert-dismissible fade show" id="msg" role="alert">
        {{message | safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!--Search Modal-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Search Form</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="searchForm" action="{% url 'search_form' %}" method="post">
        {% csrf_token %}
      <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control" id="searchInput" name="search_query" placeholder="Search">
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" style="width: 100%;" class="btn btn-primary btn-large btn-block" data-bs-dismiss="modal">Search</button>
      </div>
    </form>
    </div>
  </div>
</div>
<!--End of search modal-->