{% load static %}

<!-- Navbar section -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://res.cloudinary.com/dpg6ubeyo/image/upload/v1710860588/roadster_logo_azkxq2.png" alt="Roadster Exepert logo" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="category-menu" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
            Vehicles
          </a>
          <ul class="dropdown-menu" aria-labelledby="category-menu">
            {% for category in categories %}
                <li>
                  <a class="dropdown-item" href="{% url 'category_vehicles' category_id=category.id %}">{{ category.title }}</a>
                </li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>

      <ul class="d-flex logout-box login-red justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/accounts/login/" aria-label="Go to the login page"><i class="fas fa-user"></i> Login</a>
        </li>
      </ul>
      
      <!-- <p id="search-box-button" class="btn"><i class="fas fa-search"></i></p> -->
      
    </div>
  </div>
</nav>
<!-- End of navbar -->