{% load static %}

<!-- Jquery -->
<script src="https://res.cloudinary.com/dpg6ubeyo/raw/upload/v1711464049/static/js/jquery.js"></script>

<!--Bootstrap Js-->
<script src="https://res.cloudinary.com/dpg6ubeyo/raw/upload/v1711464041/static/bootstrap/js/bootstrap.min.js"></script>

<!--My custom js-->
<script src="https://res.cloudinary.com/dpg6ubeyo/raw/upload/v1711699754/static/js/roadster.js"></script>

<!--Sendmail js-->
<script src="https://res.cloudinary.com/dpg6ubeyo/raw/upload/v1711802819/static/js/sendMail_a0ielm.js"></script>


</body>
</html>