{% load static %}
<!-- Jquery -->
<script src="https://res.cloudinary.com/dpg6ubeyo/raw/upload/v1711464049/static/js/jquery.js"></script>
<!--Bootstrap Js-->
<script src="https://res.cloudinary.com/dpg6ubeyo/raw/upload/v1711464041/static/bootstrap/js/bootstrap.min.js"></script>
<!--My custom js-->
<script src="https://res.cloudinary.com/dpg6ubeyo/raw/upload/v1712098692/roadster_kk1fax.js"></script>
<!--Sendmail js-->
<script src="https://res.cloudinary.com/dpg6ubeyo/raw/upload/v1711987901/sendMail_xmxnmw.js"></script>
    </body>
</html>