{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-1">500</h1>
            <h2 class="display-4">Oops! Internal Server Error.</h2>
            <p class="lead">Sorry, something went wrong on our end.</p>
            <p class="lead">Please try again later.</p>
            <a href="/" class="btn btn-primary">Go to Home</a>
        </div>
    </div>
</div>


{% endblock content %}