{% extends "base.html" %}
{% load static %}
{% block content %}

<!--Slider section-->  
<div class="row">
<div class="container-fluid"> 
    <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
             <img src="https://res.cloudinary.com/dpg6ubeyo/image/upload/v1711444430/porsche_aq3rs2.webp" class="d-block w-100" alt="Porsche Icon">
             <div class="carousel-caption d-none d-md-block">
              <div class="slider-bg">
                <h5 class="slider-title">The seeker of the oracle</h5>
                <p>The 1970 Porsche 911 is renowned for its iconic design.</p>
              </div>
            </div>
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/dpg6ubeyo/image/upload/v1711705689/sl%C4%B1der2_zcqg4j.webp" class="d-block w-100" alt="Audi Roadster">
                <div class="carousel-caption d-none d-md-block">
                  <div class="slider-bg">
                    <h5 class="slider-title">Go to Power</h5>
                    <p>Freedom unleashed, journey with style in Audi TT Roadster.</p>  
                  </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/dpg6ubeyo/image/upload/v1711705690/slider3_zptnau.webp" class="d-block w-100" alt="Lamboarghini Huracan">
                <div class="carousel-caption d-none d-md-block">
                  <div class="slider-bg">
                    <h5 class="slider-title">When you want to leave</h5>
                    <p>It is always there with its power and technology.</p>
                  </div>
                </div>
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
    </div>
</div>
</div>
<!--End of slider section-->

<!--Why Roadster section-->
<section class="pt-5 pb-5" style="background-color: aliceblue;">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Why Choose Roadster Expert?</h2>
      <p class="fs-5 mt-3 lh-base" style="text-align: justify;">Because we are the biggest roadster family in the world. With your contribution, we learn about every new roadster vehicle instantly. And with our Blog application, you can access the information you need for each model in the shortest time possible.</p>
    </div>
  </div>
</section>
<!-- End of Why Roadster section -->

<!--News Section-->
<section class="section-margin">
  <div class="container">
    <h2 class="text-center">Latest News</h2>
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card mt-5">
          <img src="https://res.cloudinary.com/dpg6ubeyo/image/upload/v1710868093/performance_u8rnfp.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-danger">Performance</h5>
            <p class="card-text fs-6">The fact that roadster cars generally offer high-level performance, rapid acceleration, high speeds, and a sporty driving experience is an important factor in attracting performance enthusiasts.
            </p>
          </div>
          <div class="card-footer text-center">
            <a href="https://www.audi-mediacenter.com/de/audi-tt-rs-roadster-11275" target="_blank" aria-label="Audi Roadster Media Page" rel="noopener" class="btn btn-outline-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card mt-5">
          <img src="https://res.cloudinary.com/dpg6ubeyo/image/upload/v1710911777/lnaytb1fwxti84ffkhqh.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-danger">Design</h5>
            <p class="card-text fs-6">Roadster cars typically have sleek, attractive, and iconic designs, being aesthetically appealing and standing out with their unique styles. This is important to capture users' attention and evoke their desires.</p>
          </div>
          <div class="card-footer text-center">
            <a href="https://www.audi.com/en/innovation/product-innovation/design.html" target="_blank" aria-label="Audi Design Page" rel="noopener" class="btn btn-outline-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card mt-5">
          <img src="https://res.cloudinary.com/dpg6ubeyo/image/upload/v1710912161/technology_iiov3n.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-danger">Technology</h5>
            <p class="card-text fs-6">Roadster cars are typically equipped with state-of-the-art safety features, driving assistance systems, and infotainment technologies. This ensures users' satisfaction in terms of safety, comfort, and ease of use.</p>
          </div>
          <div class="card-footer text-center">
            <a href="https://www.audi-technology-portal.de/en" aria-label="Audi Technology Page" target="_blank" rel="noopener" class="btn btn-outline-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End of news section-->

{% endblock content%}