{% extends "base.html" %}
{% block content %}

<!--Slider section-->
<div id="slider-container" class="container-fluid"> 
    <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
             <img src="https://res.cloudinary.com/dpg6ubeyo/image/upload/v1710858135/porse_jfksye.webp" class="d-block w-100" alt="demo">
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/dpg6ubeyo/image/upload/v1710858134/lambo_mbldsb.webp" class="d-block w-100" alt="demo2">
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/dpg6ubeyo/image/upload/v1710858133/ferro_odznql.webp" class="d-block w-100" alt="demo3">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="container content-inner">
  <div class="row">
    <h1 class="fs-2 text-center">Why Choose Roadster Expert?</h1>
    <p class="fs-5 lh-base">Because we are the biggest roadster family in the world. With your contribution, we learn about every new roadster vehicle instantly. And with our Blog application, you can access the information you need for each model in the shortest time possible.</p>
  </div>
</div>

<div class="container content-inner">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/dpg6ubeyo/image/upload/v1710868093/performance_u8rnfp.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-danger">Performance</h5>
          <p class="card-text fs-6">The fact that roadster cars generally offer high-level performance, rapid acceleration, high speeds, and a sporty driving experience is an important factor in attracting performance enthusiasts.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/dpg6ubeyo/image/upload/v1710911777/lnaytb1fwxti84ffkhqh.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-danger">Design</h5>
          <p class="card-text fs-6">Roadster cars typically have sleek, attractive, and iconic designs, being aesthetically appealing and standing out with their unique styles. This is important to capture users' attention and evoke their desires.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/dpg6ubeyo/image/upload/v1710912161/technology_iiov3n.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-danger">Technology</h5>
          <p class="card-text fs-6">Roadster cars are typically equipped with state-of-the-art safety features, driving assistance systems, and infotainment technologies. This ensures users' satisfaction in terms of safety, comfort, and ease of use.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content%}